@import "@fontsource/roboto/300.css";

.keyboard {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 99999;
  border-radius: 10px;
  border: solid 5px black;
}

.hg-theme-default {
  border-radius: 0;
}

.simple-keyboard {
  background: #1c1f27;
}

.hg-button.background-shadow-black {
  background-color: #1c1f27 !important;
  border: 0 !important;
}

.hg-button.small {
  font-size: 12px !important;
}

.hg-button.border-vine-green {
  --button-width: 40px;
  min-height: var(--button-width);
  max-height: var(--button-width);
  min-width: var(--button-width);
  max-width: var(--button-width);
  border: solid 3px #00b187;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0);
}

.hg-button.border-vine-green:hover {
  color: black;
  background: #00b187;
}

.hg-button.border-vine-green:active {
  color: black;
  background: #01e4af;
}

.hg-button.rounded-button {
  --button-width: 34px;
  --button-height: 43px;
  --padding: 5px;
  border: solid 1px black;
  background: rgba(57, 57, 66);
  color: ghostwhite;
  min-height: var(--button-height);
  max-height: var(--button-height);
  min-width: var(--button-width);
  max-width: var(--button-width);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.hg-button.rounded-button:hover {
  color: ghostwhite;
  background: rgb(42, 42, 63);
}

.hg-button.rounded-button:active {
  color: ghostwhite;
  background: rgb(41, 49, 94);
}

.hg-button.empty-half {
  background-color: rgba(0, 0, 0, 0);
  border: 0 !important;
  min-width: calc(var(--button-width) / 2);
  min-height: var(--button-height);
  max-width: calc(var(--button-width) / 2);
  max-height: var(--button-height);
  pointer-events: none;
}

.hg-button.unit-1-5 {
  min-width: calc(1.5 * var(--button-width) + 2.5px);
  max-width: calc(1.5 * var(--button-width) + 2.5px);
}

.hg-button.unit-3 {
  min-width: calc(3 * var(--button-width) + 10px);
  max-width: calc(3 * var(--button-width) + 10px);
}

.hg-button.unit-4 {
  min-width: calc(4 * var(--button-width) + 15px);
  max-width: calc(4 * var(--button-width) + 15px);
}

.hg-button.unit-5 {
  min-width: calc(5 * var(--button-width) + 20px);
  max-width: calc(5 * var(--button-width) + 20px);
}

.hg-button.unit-6 {
  min-width: calc((6 * var(--button-width)) + 25px);
  max-width: calc((6 * var(--button-width)) + 25px);
}

.hg-button.unit-8 {
  min-width: calc((8 * var(--button-width)) + 35px);
  max-width: calc((8 * var(--button-width)) + 35px);
}
